@import "../natsumi-config.css";
@import "modules/preload.css";

@import "modules/base.css";
@import "modules/pip.css";

/* Translucency */
body {
    background-color: rgba(1,1,1,0.8) !important;
}

/* Remove background */
#browser, #panel-sidebar-select-box, #navigator-toolbox, #nav-bar, #PersonalToolbar, #tabbrowser-tabbox, #tabbrowser-tabpanels {
  background-color: transparent !important;
}

#browser {
  background-image: none !important;
}

#navigator-toolbox {
  border: none !important;
}

